@media screen and (max-width: 780px) {
    .cabecalho {
        height: auto;
        min-height: auto;
    }
    .h-box {
        width: 100%;
        min-height: 250px;
        border-radius: 1em;
    }
    .contato {
        width: 50%;
        min-height: 200px;
        border-radius: 1em;
    }

.cards .slick-track .slick-slide {
    height: 65%;
}

}
